

body{
    font-family: Be Vietnam;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    max-width: 100%;
}

.btn{
    background-color: #8B48BF;
    color: #FFFFFF;
    width:  134px;
    height:  44px;
    padding: 10px;
    border: #d6ccca;
    cursor: pointer;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.btn:hover{
    opacity:0.8;
    }


/* Header Desktop*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 12%;
}

header ul {
    color: #242E52;
    display: flex;
    gap: 28px;
    font-family: Be Vietnam;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

header ul li{
    display:inline-block;
    list-style:none;
}


/* Main Desktop */

.principal{
    display: flex;
    justify-content: space-between;
    width: 1290PX;
    height: 600px;
}

.principal div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    padding: 2em;
}

.principal p{
    padding: 2em 5em 0 0;
    text-align: justify;
    letter-spacing: 0.05em;
    line-height: 1.9em;
    font-size: 1em;
    font-weight: 600;
    text-align: end;
}

.principal img{
    padding: 10px 40px 150px 150px;
}

.principal h1{
    color: rgba(35, 44, 80, 1);
    text-align:justify;
    width: 450px;
    height: 130px;
    font-size: 53px;
    font-weight: 600;
    line-height: 57px;
    letter-spacing: -0.035em;
    text-align: end;
}

.principal button{
    align-self:flex-end;
    
}

.section-2 {
    background-color: #8B48BF;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

}

.section-2 h1{
    display: flex;
    width: 450px;
    height: 88px;
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
}

.section-2 p{
    width: 400px;
    height: 88px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.section-3{
    background-color: aqua;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1,440px;
    height: 428px;
    top: 985px;
    left: -1px;
    padding: 40px 0px 40px 0px;
}

#article-3{
    display: flex;
    align-self: flex-end;

}

.section-3 h3{
    color: #323851;

}

.section-3 p{
    color: #B3B2B7;
    ;
}

#h2-jugadores{
    color: #242E53;
    text-align: center;
}
.cards {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 40px;
    text-align: center;
}

.cards article{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cards img{
    border-radius: 50px;
}

.cards article p{
    font-size: 18px;
}

.cards button {
    
    

}

.section-5{
    background-color: #8B48BF;
    color: #FFFFFF;
}

.section-5 aside{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-5 h1{
    font: be vietnam;
    width: 393px;
    height: 96px;
    font-size: 40px;
    font-weight: 550;
    line-height: 48px;
    letter-spacing: -0.005em;
    text-align: left;
}

.section-5 button{
    background-color: #FFFFFF;
    color: #8B48BF;
}


/* Footer Desktop  */
footer{
    background-color: #1E1E26;
    padding: 52px 120px;
    color: #FFFFFF;
    position: relative;
}

.piePagina{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 86px;
    
}
.redes .img-icon{
    justify-content: space-around;
}

.navFooter{
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-right: 55px;
}

.navFooter ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.navFooter ul li a{
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.navFooter ul li a:hover{
    color: #ffffffa4;
}


form{
    display: flex;
    padding-left: 90px;
    gap: 15px;
}

form input{
    display: flex;
    background: #FFFFFF;
    border-radius: 50px;
    padding:12.5px 30px 12.5px 10px;
    border:none;
}

form input:focus{
    outline: none;
}

footer p{
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #8C8C94;
    position:absolute;
    right: 165px;
    bottom: 50px;
    font-family: Be Vietnam;
    letter-spacing: 0em;
}

footer button{
    background-color: #8B48BF;
    width: 5em;
    height: 2.75em;
    border-radius: 3.2em;
    color: #FFFFFF;
    cursor:pointer;
}

